<%- include('partials/header') -%>

    <div class="box">
        <!-- manufacturers -->
        <div class="container">
            <div class="top-header">
                <span>Have an account?</span>
                <header>Manufacturers</header>
            </div>
            <form action="/login" method="post">
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name="username" required>
                    
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Password" name="password" required>
                </div>
                <div class="input-field">
                    <button type="submit" class="input submit" name="btn" value="m">Login</button>
                </div>
                <div class="bottom">
                    <div class="left">
                        <input type="checkbox" name="" id="check">
                        <label for="check">Remember Me</label>
                    </div>
                    <div class="right">
                        <label for=""><a href="#">Forgot password?</a></label>
                    </div>
                </div>
            </form>
           
        </div>
        <!-- transporters -->
        <div class="container">
            <div class="top-header">
                <span>Have an account?</span>
                <header>Transporters</header>
            </div>
            <form action="/login" method="post">
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name="username" required>
                    
                </div>
                <div class="input-field">
                    <input type="text" class="input" placeholder="Password" name="password" required>
                </div>
                <div class="input-field">
                    <button type="submit" class="input submit" name="btn" value="t">Login</button>
                </div>
                <div class="bottom">
                    <div class="left">
                        <input type="checkbox" name="" id="check">
                        <label for="check">Remember Me</label>
                    </div>
                    <div class="right">
                        <label for=""><a href="#">Forgot password?</a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>


<%- include('partials/footer') -%>